# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env

# Distribution / PyInstaller (Don't upload the raw exe build folders here)
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Excel files generated during testing
*.xlsx
